<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<% @trips.each do |trip| %>
<h2><%= link_to trip.name, trip %></h2>
<p><i><%= trip.start_date %></i></p>
<p><%= link_to 'Show', trip %></p>
<p><%= link_to 'Edit', edit_trip_path(trip) %></p>
<p><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<br>
<% end %>

<br>

<%= link_to 'New Trip', new_trip_path %>
