<p id="notice"><%= notice %></p>

<h2><%= @trip.name %></h2>

<p><%= @trip.start_date %></p>

<%= link_to 'Edit Trip', edit_trip_path(@trip) %> 
<%= link_to 'Back', trips_path %>

<h3>Activities</h3>

<%= render @trip.activities %>

<h4>New Activity</h4>
<%= form_for [@trip, @trip.activities.build] do |f| %>
  <div class='field'>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class='field'>
  <%= f.label :where %><br>
  <%= f.text_field :where %>
  </div>

  <div class='actions'>
    <%= f.submit %>
  </div>
  <% end %>


